distribute==0.6.27
dj-database-url==0.2.1
django-suit==0.1.1
Django==1.4.5
docutils==0.10
Fabric==1.5.3
gunicorn==0.14.6
httpagentparser==1.2.2
Jinja2==2.6
paramiko==1.9.0
pip-tools==0.2.1
psycopg2==2.4.5
pycrypto==2.6
South==0.7.6
