{% extends base.html %}
{% block title %}About ChromeFiddle{% endblock %}

{% block content %}
    <div class="row-fluid">
      <div class="span-9">
        <div class="hero-unit">
          <p>ChromeFiddle tracks experimental changes in Google's Chrome browser.</p>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12 well well-large">
        <p>About ChromeFiddle</p>
        <p>ChromeFiddle was started as a personal project by Peter Schaadt.</p>
      </div>
    </div><!--/row-->

{% endblock %}
