{% extends "base.html" %}
{% block title %}Advanced Settings?{% endblock %}

{% block content %}

    <div class="row-fluid">
        <div class="span9 well well-large">
            <h3>Advanced Settings</h3>
            <p>Here is a list of Google Chrome's additional settings pages, similar to chrome://flags.</p>
        </div>
    </div><!--/row-->

    <div class="row-fluid">
        <div class="span9 well well-large">
            <h4><strong>List of additional Chrome URLs</strong></h4>
            <ul>
                <li>chrome://appcache-internals</li>
                <li>chrome://blob-internals</li>
                <li>chrome://cache</li>
                <li>chrome://chrome-urls</li>
                <li>chrome://crashes</li>
                <li>chrome://credits</li>
                <li>chrome://dns</li>
                <li>chrome://downloads</li>
                <li>chrome://extensions</li>
                <li>chrome://flash</li>
                <li>chrome://gpu-internals</li>
                <li>chrome://history</li>
                <li>chrome://inspect</li>
                <li>chrome://ipc</li>
                <li>chrome://media-internals</li>
                <li>chrome://memory</li>
                <li>chrome://nacl</li>
                <li>chrome://net-internals</li>
                <li>chrome://newtab</li>
                <li>chrome://omnibox</li>
                <li>chrome://plugins</li>
                <li>chrome://policy</li>
                <li>chrome://predictors</li>
                <li>chrome://print</li>
                <li>chrome://profiler</li>
                <li>chrome://quota-internals</li>
                <li>chrome://settings</li>
                <li>chrome://stats</li>
                <li>chrome://sync-internals</li>
                <li>chrome://terms</li>
                <li>chrome://tracing</li>
                <li>chrome://version</li>
                <li>chrome://view-http-cache</li>
            </ul>
        </div>
    </div><!--/row-->

    <div class="row-fluid">
        <div class="span9 well well-large">
            <h4><strong>List of Chrome URLs used only for debugging</strong></h4>
            <ul>
                <li>chrome://crash</li>
                <li>chrome://kill</li>
                <li>chrome://hang</li>
                <li>chrome://shorthang</li>
                <li>chrome://gpuclean</li>
                <li>chrome://gpucrash</li>
                <li>chrome://gpuhang</li>
            </ul>
        </div>
    </div><!--/row-->

{% endblock %}
