{% extends "base.html" %}
{% block title %}Contact Me{% endblock %}

{% block content %}

    <div class="row-fluid">
        <div class="span9 well well-large">

            <form action="/contact/" method="post">
                {# Contact Form body #}
                {% csrf_token %}
                {{ form.non_field_errors }}
                {# Email Address #}
                <div id="contact-sender">
                    {{ form.sender.errors }}
                    <label for="id_sender">Your email address:</label>
                    {{ form.sender }}
                </div>
                {# Subject #}
                <div class="contact-wrap">
                    {{ form.subject.errors }}
                    <label for="id_subject">Email subject:</label>
                    {{ form.subject }}
                </div>
                {# Message #}
                <div class="contact-wrap">
                    {{ form.message.errors }}
                    <label for="id_message">Your message:</label>
                    {{ form.message }}
                </div>
                {# CC #}
                <div class="contact-wrap">
                    {{ form.cc_myself.errors }}
                    <label for="id_cc_myself">CC yourself?</label>
                    {{ form.cc_myself }}
                </div>
                <br>
                {# Submit #}
                <input type="submit" value="Submit" />
            </form>

        </div>
    </div><!--/row-->

{% endblock %}
