{% extends "base.html" %}
{% block title %}Flag Details{% endblock %}

{% block content %}
    {% load comments %}
    {% get_comment_count for flag as comment_count %}
    {% get_comment_list for flag as comment_list %}

    <h3><strong>{{ flag.name }}</strong></h3>

    <div class="row-fluid">
        <div class="span9 well well-large">
            <p>
                {# Add compatible operating system labels #}
                {% if flag.is_mac %}
                    <a href="/mac"><span class="label label-mac-os-x">Mac OS X</span></a>
                {% endif %}
                {% if flag.is_windows %}
                    <a href="/windows"><span class="label label-windows">Windows</span></a>
                {% endif %}
                {% if flag.is_linux %}
                    <a href="/linux"><span class="label label-linux">Linux</span></a>
                {% endif %}
                {% if flag.is_chrome_os %}
                    <a href="/chrome-os"><span class="label label-chrome-os">Chrome OS</span></a>
                {% endif %}
                {% if flag.is_android %}
                    <a href="/android"><span class="label label-android">Android</span></a>
                {% endif %}
            </p>
            <p>{{ flag.description }}</p>
        </div>
    </div><!--/row-->

    {# Comments #}
    <div class="row-fluid">
        <div class="span9 well well-large">
            <p><i class="icon-comment"></i>&nbsp;{{ comment_count }} comment{{ comment_count|pluralize }}</p><br>
            <!-- {% render_comment_list for flag %} -->
            {% for comment in comment_list %}
                <div class="comment">
                    <p><strong>{{ comment.user_name }}</strong>&nbsp;<em>{{ comment.submit_date }}</em></p>
                    <p>{{ comment.comment }}</p>
                </div>
            {% endfor %}
            <div class="comment-form">
                {% render_comment_form for flag %}
            </div>
        </div>
    </div>

{% endblock %}
