{% extends "base.html" %}
{% block title %}ChromeFiddle{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Operating System</li>
                    <li class="active"><a href="/mac">Mac</a></li>
                    <li><a href="/windows">Windows</a></li>
                    <li><a href="/linux">Linux</a></li>
                    <li><a href="/chrome-os">Chrome OS</a></li>
                    <li><a href="/android">Android</a></li>
                    <li class="nav-header">Type</li>
                    <li><a href="#">Stable</a></li>
                    <li><a href="#">Experimental</a></li>
                    <li><a href="#">Cutting-Edge</a></li>
                </ul>
            </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
            <div class="hero-unit">
                <h1>Experiment with Google Chrome</h1>
                <p>Navigate to <a href="chrome://flags" target="_blank">chrome://flags</a> in your Google Chrome URL bar to view cutting-edge features that haven't made it into the latest release yet.</p>
                <p>We have detected that you are running <strong>{{ browser.name }} {{ browser.version }}</strong> on <strong>{{ os }}</strong>.</p>
                <p><a class="btn btn-primary btn-medium" href="/info">Learn more »</a></p>
            </div>

            {% if os_slug == 'mac-os-x' %}
                <h4><a href="/mac"><span class="label label-{{ os_slug }}">{{ os }}</span></a> has {{ supported_flags.count }} flags available</h4>
            {% else %}
                <h4><a href="/{{ os_slug }}"><span class="label label-{{ os_slug }}">{{ os }}</span></a> has {{ supported_flags.count }} flags available</h4>
            {% endif %}
{#            <h4><span class="label label-{{ os_slug }}">{{ os }}</span> has {{ supported_flags.count }} flags available</h4>#}

            {% for flag in supported_flags %}
                <div class="row-fluid">
                    <div class="span12 well well-large">
                        <p><i class="icon-flag"></i>&nbsp;<strong>{{ flag.name }}</strong></p>
                        <p>{{ flag.description }}</p>
                    </div>
                </div><!--/row-->
            {% endfor %}

        </div><!--/span-->
    </div><!--/row-->
{% endblock %}
