{% extends "base.html" %}
{% block title %}ChromeFiddle{% endblock %}

{% block content %}
<div class="row-fluid">
  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Operating System</li>
        <li class="active"><a href="/mac">Mac</a></li>
        <li><a href="/windows">Windows</a></li>
        <li><a href="/linux">Linux</a></li>
        <li><a href="/chrome-os">Chrome OS</a></li>
        <li><a href="/android">Android</a></li>
        <li class="nav-header">Type</li>
        <li><a href="#">Stable</a></li>
        <li><a href="#">Experimental</a></li>
        <li><a href="#">Cutting-Edge</a></li>
      </ul>
    </div><!--/.well -->
  </div><!--/span-->
  <div class="span9">
    <div class="hero-unit">
      <h1>Experiment with Google Chrome</h1>
      <p>Navigate to <a href="chrome://flags" target="_blank">chrome://flags</a> in your Google Chrome URL bar to view cutting-edge features that haven't made it into the latest release yet.</p>
      <p>We have detected that you are running <strong>Chrome 24.0.1312.57 on Mac OS.</strong></p>
      <p><a class="btn btn-primary btn-medium">Learn more »</a></p>
    </div>
    <div class="row-fluid">
      <div class="span12 well well-large">
        <p>Tab Overview</p>
        <p>Swipe down with three fingers on your trackpad to see an overview of all your tabs. Click on a thumbnail to select it. Works great in fullscreen mode.</p>
      </div>
    </div><!--/row-->
    <div class="row-fluid">
      <div class="span4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a href="#" class="btn">View details »</a></p>
      </div><!--/span-->
      <div class="span4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a href="#" class="btn">View details »</a></p>
      </div><!--/span-->
      <div class="span4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a href="#" class="btn">View details »</a></p>
      </div><!--/span-->
    </div><!--/row-->
  </div><!--/span-->
</div><!--/row-->
{% endblock %}
