{% extends "base.html" %}
{% block title %}What is ChromeFiddle?{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span9">
            <blockquote>
                <p><strong>Disclaimer - Dragons Ahead</strong></p>
                <p><span class="label label-important">Warning</span> These experimental features may change, break, or disappear at any time. We make absolutely no guarantees about what may happen if you turn one of these experiments on, and your browser may even spontaneously combust. Jokes aside, your browser may delete all your data, or your security and privacy could be compromised in unexpected ways. Any experiments you enable will be enabled for all users of this browser. Please proceed with caution.</p>
                <small>Google</small>
            </blockquote>
        </div>
    </div><!--/row-->

    <div class="row-fluid">
        <div class="span9 well well-large">
            <p>Where do we begin...</p>
        </div>
    </div>

{% endblock %}
