{% extends "base.html" %}
{% block title %}All Flags{% endblock %}

{% block content %}

    <h4 xmlns="http://www.w3.org/1999/html"><strong>{{ all_flags.count }}</strong> flags total</h4>

    {% for flag in all_flags %}
        <div class="row-fluid">
            <div class="span9 well well-large">
                <p>
                    <i class="icon-flag"></i>&nbsp;<a href="/flags/{{ flag.id }}/">{{ flag.name }}&nbsp;</a>
                    {# Add compatible operating system labels #}
                    {% if flag.is_mac %}
                        <a href="/mac"><span class="label label-mac-os-x">Mac OS X</span></a>
                    {% endif %}
                    {% if flag.is_windows %}
                        <a href="/windows"><span class="label label-windows">Windows</span></a>
                    {% endif %}
                    {% if flag.is_linux %}
                        <a href="/linux"><span class="label label-linux">Linux</span></a>
                    {% endif %}
                    {% if flag.is_chrome_os %}
                        <a href="/chrome-os"><span class="label label-chrome-os">Chrome OS</span></a>
                    {% endif %}
                    {% if flag.is_android %}
                        <a href="/android"><span class="label label-android">Android</span></a>
                    {% endif %}
                </p>
                <p>{{ flag.description }}</p>
            </div>
        </div><!--/row-->
    {% endfor %}

{% endblock %}
