{% extends "base.html" %}
{% block title %}All Flags{% endblock %}

{% block navlinks %}

    <div class="nav-collapse">
        <ul class="nav">
            <li><a href="/"><i class="icon-home icon-white"></i>&nbsp;Home</a></li>
            <li class="active"><a href="/list"><i class="icon-list icon-white"></i>&nbsp;List</a></li>
            <li><a href="/info"><i class="icon-info-sign icon-white"></i>&nbsp;Info</a></li>
            <li><a href="/about"><i class="icon-briefcase icon-white"></i>&nbsp;About</a></li>
            <li><a href="/contact"><i class="icon-envelope icon-white"></i>&nbsp;Contact</a></li>
        </ul>
    </div><!--/.nav-collapse -->

{% endblock navlinks %}

{% block content %}

    <h4><strong>{{ all_flags.count }}</strong> flags total</h4>

    {% for flag in all_flags %}
        <div class="row-fluid">
            <div class="span9 well well-large">
                <p>
                    <i class="icon-flag"></i>&nbsp;<a href="/flags/{{ flag.id }}/">{{ flag.name }}&nbsp;</a>
                    {# Add compatible operating system labels #}
                    {% if flag.is_mac %}
                        <a href="/mac"><span class="label label-mac-os-x">Mac OS X</span></a>
                    {% endif %}
                    {% if flag.is_windows %}
                        <a href="/windows"><span class="label label-windows">Windows</span></a>
                    {% endif %}
                    {% if flag.is_linux %}
                        <a href="/linux"><span class="label label-linux">Linux</span></a>
                    {% endif %}
                    {% if flag.is_chrome_os %}
                        <a href="/chrome-os"><span class="label label-chrome-os">Chrome OS</span></a>
                    {% endif %}
                    {% if flag.is_android %}
                        <a href="/android"><span class="label label-android">Android</span></a>
                    {% endif %}
                </p>
                <p>{{ flag.description }}</p>
            </div>
        </div><!--/row-->
    {% endfor %}

{% endblock content %}
