{% extends "base.html" %}
{% block title %}{{ os }} Flags{% endblock %}

{% block content %}

    <div class="row-fluid">
        <div class="span9">
            <div class="span8">
                <h4>
                    <span class="label label-{{ os_slug }}">{{ os }}</span> has <strong>{{ os_flags.count }}</strong> flags available
                </h4>
            </div>
            <div class="span4">
                <div class="btn-toolbar text-right">
                    <div class="btn-group">
                        <a class="btn" href="#"><i class="icon-align-left"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for flag in os_flags %}
        <div class="row-fluid">
            <div class="span9 well well-large">
                <p><i class="icon-flag"></i>&nbsp;<a href="/flags/{{ flag.id }}/">{{ flag.name }}</a></p>
                <p>{{ flag.description }}</p>
            </div>
        </div><!--/row-->
    {% endfor %}

{% endblock content %}
