{% extends "base.html" %}
{% block title %}{{ os }} Flags{% endblock %}

{% block content %}

    <h4><span class="label label-{{ os_slug }}">{{ os }}</span> has {{ os_flags.count }} flags available</h4>

    {% for flag in os_flags %}
        <div class="row-fluid">
            <div class="span9 well well-large">
                <p><i class="icon-flag"></i>&nbsp;<a href="{{ flag.id }}">{{ flag.name }}</a></p>
                <p>{{ flag.description }}</p>
            </div>
        </div><!--/row-->
    {% endfor %}

{% endblock %}
