{% extends "base.html" %}
{% block title %}{{ os }} Flags{% endblock %}

{% block content %}

    <div class="row-fluid">
        <div class="span9 well well-large">
            <p><strong>ChromeFiddle Privacy Policy</strong> -- <em>last updated: February 26th, 2013</em></p>
            <p>This Privacy Policy describes how ChromeFiddle maintains your privacy while you are using this web application. Your user agent is parsed but never saved or used to personally identify you.</p>
        </div>
    </div><!--/row-->

{% endblock %}
