/*** ChromeFiddle CSS Styles ***/
/* site owner: Peter Schaadt */

/* Background Image */

/*@media 
only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-resolution: 192dpi) { 
	body {
	  background: url('../img/kindajean_@2X.png') repeat;
	  background-size: 100%;
	}
}*/

body {
	background-image: url(/img/kindajean.png) repeat;
	background-size: 100%;
}

/* General Styles */

.hero-unit h1 {
	padding-bottom: 15px;
}

/* Nav Bar */

.nav-collapse ul.nav li.active {
	background-color: #262626;
}

.nav-collapse ul.nav li:hover {
	background-color: #4a4a4a;
}

/* Contact Form */

.contact-wrap {
    color: #000;
}

/* Comments */

.comment {
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}

.comment-form {
	margin-top: 30px;
}

input.submit-post, input.submit-preview {
	color: #858585;
}

/* Operating System Icons */

.icon-os-mac {
	background-image: "../img/";
}

.icon-os-windows {
	background-image: "../img/";
}

.icon-os-linux {
	background-image: "../img/";
}

.icon-os-chrome-os {
	background-image: "../img/";
}

.icon-os-android {
	background-image: "../img/";
}

/* Custom Icons */

.icon-a-z {
	background-image: "../img/";
}

.icon-z-a {
	background-image: "../img/";
}

.icon-1-9 {
	background-image: "../img/";
}

.icon-9-1 {
	background-image: "../img/";
}

/* Utility Styles */

.center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.bump-down {
	margin-top: 10px;
}
